html {
  scroll-behavior: smooth;
}

html {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: white;
  color: black;
}

::selection {
  background: white;
  color: black;
}

.transition {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: roc-grotesk, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 5em;
  line-height: 1;
  color: white;
}

p {
  font-size: 1em;
  line-height: 1.618;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#cursor {
  top: -100px;
  z-index: 10000;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  position: fixed !important;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
}

.button {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0 12px 0;
  border-bottom: 2px solid white;
  width: 134px;
}

.button img {
  height: 15px;
  width: 24px;
  margin-left: 10px;
}

.button:hover {
  background: rgba(0, 0, 0, 0.2);
  padding: 14px 24px 12px 24px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background: linear-gradient(to bottom, black, black);
  border-left: 1px solid white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

#bg {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background: linear-gradient(to bottom, black, black);
  z-index: -1;
}

@media screen and (min-width: 1050px) {
  .lander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 0;
    border-bottom: 1px solid white;
  }
  .lander .text {
    color: white;
    padding: 80px;
  }
  .lander .text .t {
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
  }
  .lander .text .p {
    font-size: 2.5em;
    margin-bottom: 36px;
    font-weight: 300;
  }
  .lander #landerimg {
    position: absolute;
    z-index: -1;
    height: 30vw;
    right: 80px;
    top: 0;
    margin-top: 17vh;
    -webkit-filter: grayscale(0.9) opacity(0.5) contrast(1);
            filter: grayscale(0.9) opacity(0.5) contrast(1);
    border: 1px solid white;
  }
  .content {
    width: 80vw;
    margin: 0 auto;
  }
  hr {
    width: 100vw;
    border-bottom: 1px solid white;
    border-top: none;
    position: relative;
    left: -10vw;
  }
  section {
    margin: 80px 0;
  }
  #donate {
    margin: 30px 0;
  }
  #donate P {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    line-height: 1.4;
  }
  #donate P a {
    font-style: italic;
    padding: 5px 12px 0 10px;
    margin-right: 6px;
    background: white;
    color: black;
  }
  #donate P a:hover {
    opacity: .8;
  }
  #whatistsa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #whatistsa .part1 {
    width: calc(50% - 70px);
    margin-right: 70px;
  }
  #whatistsa .part1 h2 {
    margin-bottom: 30px;
  }
  #whatistsa .part1 p {
    margin-bottom: 22px;
  }
  #whatistsa .part2 p {
    font-size: 3em;
    line-height: 1.2;
  }
  #activities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #activities .part1 {
    width: calc(50% + 70px);
    margin-right: 70px;
  }
  #activities .part1 h2 {
    margin-bottom: 30px;
  }
  #activities .part1 p {
    margin-bottom: 22px;
  }
  #activities .part2 {
    width: calc(50% + 70px);
  }
  #activities .part2 img {
    width: 100%;
    -webkit-filter: grayscale(1) opacity(0.7) contrast(0.9);
            filter: grayscale(1) opacity(0.7) contrast(0.9);
    border: 1px solid white;
  }
  .bottom {
    width: 100vw;
    color: white;
    padding: 14px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */