html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #eee;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media screen and (max-width: 1050px) {
  h2 {
    font-size: 3em;
  }
  .lander {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
    border-bottom: 1px solid #eee;
  }
  .lander .text {
    color: #eee;
    padding: 90px 5vw 30px 5vw;
    text-align: left;
  }
  .lander .text .t {
    font-size: 14vw;
    font-weight: 700;
    line-height: 1;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }
  .lander .text .p {
    font-size: 1.75em;
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
  }
  .lander #landerimg {
    display: none;
  }
  .content {
    width: 90vw;
    margin: 0 auto;
  }
  hr {
    width: 100vw;
    border-bottom: 1px solid #eee;
    border-top: none;
    position: relative;
    left: -5vw;
  }
  .section {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .text {
    margin-bottom: 22px;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 30px;
  }
  .section .math p {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.15;
    padding-bottom: 30px;
  }
  .section_graph {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_graph .text {
    margin-bottom: 22px;
    font-size: 1.2em;
    width: 100%;
  }
  .section_graph .math img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .section_graph .math p {
    font-size: 1.3em;
    text-align: center;
    line-height: 1;
  }
  .more {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .more p {
    font-size: 1.1em;
    color: #eee;
  }
  .first {
    padding: 50px 5vw;
    width: 90vw;
    margin-left: -5vw;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
  }
  .earths {
    overflow: hidden;
    height: 80px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .earths img {
    height: 80px;
    margin-right: 10px;
    -webkit-filter: saturate(0);
            filter: saturate(0);
  }
  .earths p {
    font-size: 3em;
    color: white;
  }
  #sources {
    margin: 40px 0;
  }
  #sources h2 {
    margin-bottom: 30px;
    font-size: 3em;
  }
  #sources ul {
    width: 90%;
  }
  #sources li {
    width: 90%;
    color: white;
    list-style: none;
    font-size: 1em;
    padding-bottom: 20px;
    text-indent: -2em;
    padding-left: 2em;
    line-height: 1.25;
  }
  #sources li:last-child {
    padding-bottom: 0;
  }
  .bottom {
    width: 100%;
    color: #eee;
    padding: 14px;
    text-align: center;
  }
}
/*# sourceMappingURL=main-mobile.css.map */