@import "master";

html {
    width: 100%;
    overflow-x: hidden;
    background-color: $light;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: $dark;
    color: $light;
}

.transition {
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: roc-grotesk, sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 5em;
    line-height: 1;
    color: $dark;
}
p {
    font-size: 1em;
    line-height: 1.618;
    color: $dark;
}
a {
    color: $dark;
    text-decoration: none;
}

#cursor {
    top: -100px;
    z-index: 10000;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    transition-timing-function: cubic-bezier(0,0,.25,1);
    position: fixed !important;
    height: 50px;
    width: 50px;
    border: 2px solid $dark;
    border-radius: 50%;
    pointer-events: none;
}

.button {
    color: $dark;
    font-size: 1.1em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0 12px 0;
    border-bottom: 2px solid $dark;
    width: 134px;

    img {
        height: 15px;
        width: 24px;
        margin-left: 10px;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.2);
        padding: 14px 24px 12px 24px;
    }
}

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: linear-gradient(to bottom, $light,$mid); border-left: 1px solid $dark; }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); border-top: 1px solid $dark; border-bottom: 1px solid $dark; }
::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 1); }

#bg {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, $light, $mid);
    z-index: -1;
}

@media screen and (min-width: 1050px) {
    .lander {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        z-index: 0;
        border-bottom: 1px solid $dark;

        .text {
            color: $dark;
            padding: 80px;

            .t {
                font-size: 10vw;
                font-weight: 700;
                line-height: 1;
            }
            .p {
                font-size: 1em;
                width: 600px;
                margin-bottom: 36px;
                b {
                    font-size: 1em;
                    font-weight: 600;
                }
            }
        }
        #landerimg {
            position: absolute;
            z-index: -1;
            height: 30vw;
            right: 80px;
            top: 0;
            margin-top: 17vh;
            filter: grayscale(.9) opacity(.7) contrast(1);
            border: 1px solid $dark;
        }
    }

    .content {
        width: 80vw;
        margin: 0 auto;
    }

    hr {
        width: 100vw;
        border-bottom: 1px solid $dark;
        border-top: none;
        position: relative;
        left: -10vw;
    }
    section {
        margin: 80px 0;
    }
    #donate {
        margin: 30px 0;
        P {
            text-align: center;
            font-size: 1.5em;
            margin: 0 auto;
            line-height: 1.4;
            a {
                font-style: italic;
                padding: 5px 12px 0 10px;
                margin-right: 6px;
                background: $dark;
                color: $light;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    #whatistsa {
        display: flex;
        flex-direction: row;
        .part1 {
            width: calc(50% - 70px);
            margin-right: 70px;

            h2 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 22px;
            }
        }
        .part2 {
            p {
                font-size: 3em;
                line-height: 1.2;
            }
        }
    }
    #activities {
        display: flex;
        flex-direction: row;
        .part1 {
            width: calc(50% + 70px);
            margin-right: 70px;

            h2 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 22px;
            }
        }
        .part2 {
            width: calc(50% + 70px);
            img {
                width: 100%;
                filter: grayscale(1) opacity(.7) contrast(.9);
                border: 1px solid $dark;
            }
        }
    }

    .bottom {
        width: 100vw;
        color: $dark;
        padding: 14px;
        text-align: center;
    }
}