html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-right: none;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-moz-selection {
  background: black;
  color: #dddddd;
}

::selection {
  background: black;
  color: #dddddd;
}

html {
  background: #dddddd;
  margin: 0;
  padding: 0;
  font-size: 17px;
  overflow-x: hidden;
}

* {
  font-family: roc-grotesk;
  color: black;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1050px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .bg {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/pop.jfif");
    background-size: cover;
    z-index: -1;
    -webkit-filter: saturate(0);
            filter: saturate(0);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  #lander {
    height: 100vh;
    width: 80%;
    margin: auto 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lander h1 {
    line-height: 1;
    font-size: 7vw;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
  }
  #lander p {
    line-height: 1.5;
    font-size: 1em;
  }
  #lander div {
    background: rgba(221, 221, 221, 0.85);
    padding: 50px;
    border: 1px solid black;
  }
  #lander mark {
    background: #dddddd;
  }
  hr {
    width: 100vw;
    border-bottom: 1px solid black;
    border-top: none;
    position: relative;
  }
  #section_1 {
    padding: 80px 10%;
    background: #dddddd;
  }
  #section_1 p {
    font-size: 1em;
    line-height: 1.5;
  }
  .content {
    width: 80%;
    padding: 0 10%;
    background: #dddddd;
  }
  .content hr {
    width: 100vw;
    border-bottom: 1px solid black;
    border-top: none;
    position: relative;
    left: -10vw;
  }
  .content .section_2 {
    margin: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .section_2 h2 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .content .section_2 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
  .content .section_2 .text .p {
    width: 47%;
    line-height: 1.5;
  }
  .content .section_2 .text .math {
    width: 47%;
    margin-left: 6%;
  }
  .content .section_2 .text .math p {
    font-size: 2em;
    line-height: 1.15;
    padding-bottom: 20px;
  }
  .content .section_2 .earths {
    overflow: hidden;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .section_2 .earths img {
    height: 140px;
    margin-right: 30px;
    -webkit-filter: saturate(0);
            filter: saturate(0);
  }
  .content .section_2 .earths p {
    font-size: 100px;
    color: #dddddd;
  }
  .content .section_4 {
    margin: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .section_4 h2 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .content .section_4 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
  .content .section_4 .text .p {
    width: 47%;
    line-height: 1.5;
    text-align: left;
  }
  .content .section_4 .text mjx-container {
    margin-bottom: 0;
  }
  .content .section_4 .text .math {
    width: 47%;
    margin-left: 6%;
  }
  .content .section_4 .text .math img {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid black;
  }
  .content .section_4 .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .section_4 .more p {
    line-height: 1.5;
  }
  .content .section_4 .more p:last-child {
    margin-left: 20px;
  }
  .content .section_4 #a {
    width: 100%;
    margin: 0 0 30px 0;
    left: 0;
  }
  .content #sources {
    padding: 80px 0;
  }
  .content #sources h2 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .content #sources ul {
    text-decoration: none;
    list-style: none;
  }
  .content #sources ul li {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .bottom {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    background: #dddddd;
  }
}

@media screen and (max-width: 1049px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .bg {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/pop.jfif");
    background-size: cover;
    z-index: -1;
    -webkit-filter: saturate(0);
            filter: saturate(0);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  #lander {
    height: 100vh;
    width: 90%;
    margin: auto 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lander h1 {
    line-height: 1;
    font-size: 9vw;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
  }
  #lander p {
    line-height: 1.5;
    font-size: 1em;
  }
  #lander div {
    background: rgba(221, 221, 221, 0.85);
    padding: 50px;
    border: 1px solid black;
  }
  #lander mark {
    background: #dddddd;
  }
  hr {
    width: 100vw;
    border-bottom: 1px solid black;
    border-top: none;
    position: relative;
  }
  #section_1 {
    padding: 30px 5%;
    background: #dddddd;
  }
  #section_1 p {
    font-size: 1em;
    line-height: 1.5;
  }
  .content {
    width: 90%;
    padding: 0 5%;
    background: #dddddd;
  }
  .content hr {
    width: 100vw;
    border-bottom: 1px solid black;
    border-top: none;
    position: relative;
    left: -5vw;
  }
  .content .section_2 {
    margin: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .section_2 h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content .section_2 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .content .section_2 .text .p {
    width: 100%;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .content .section_2 .text .math {
    width: 100%;
  }
  .content .section_2 .text .math p {
    font-size: 1.5em;
    line-height: 1.15;
    padding-bottom: 20px;
  }
  .content .section_2 .earths {
    margin-top: -20px;
    overflow: hidden;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .section_2 .earths img {
    height: 80px;
    margin-right: 15px;
    -webkit-filter: saturate(0);
            filter: saturate(0);
  }
  .content .section_2 .earths p {
    font-size: 2.5em;
    color: #dddddd;
  }
  .content .section_4 {
    margin: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .section_4 h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content .section_4 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .content .section_4 .text .p {
    width: 100%;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
  }
  .content .section_4 .text mjx-container {
    margin-bottom: 0;
  }
  .content .section_4 .text .math {
    width: 100%;
  }
  .content .section_4 .text .math img {
    width: 100%;
    border: 1px solid black;
  }
  .content .section_4 .text .math #graph {
    width: 100%;
    height: 500px;
  }
  .content .section_4 .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .section_4 .more p {
    line-height: 1.5;
  }
  .content .section_4 .more p:last-child {
    margin-top: 20px;
  }
  .content .section_4 #a {
    display: none;
  }
  .content #sources {
    padding: 60px 0;
  }
  .content #sources h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content #sources ul {
    text-decoration: none;
    list-style: none;
  }
  .content #sources ul li {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .content #sources ul li:last-child {
    margin: 0;
  }
  .bottom {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    background: #dddddd;
  }
}
/*# sourceMappingURL=main.css.map */