@import "master";

@media screen and (max-width: 1050px) {
    h2 {
        font-size: 3em;
    }
    .lander {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        border-bottom: 1px solid $dark;

        .text {
            color: $dark;
            padding: 90px 5vw 30px 5vw;
            text-align: left;

            .t {
                font-size: 14vw;
                font-weight: 700;
                line-height: 1;
                padding: 0 0 20px 0;
                margin-bottom: 20px;
            }
            .p {
                font-size: 1.75em;
                width: 90vw;
                max-width: 600px;
                margin: 0 auto;
            }
        }
        #landerimg {
            display: none;
        }
    }

    .content {
        width: 90vw;
        margin: 0 auto;
    }

    hr {
        width: 100vw;
        border-bottom: 1px solid $dark;
        border-top: none;
        position: relative;
        left: -5vw;
    }
    .section {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        .text {
            margin-bottom: 22px;
            font-size: 1.2em;
            width: 100%;
            margin-bottom: 30px;
        }
        .math {
            p {
                font-size: 2em;
                font-weight: 300;
                line-height: 1.15;
                padding-bottom: 30px;
            }
        }
    }
    .earths {
        overflow: hidden;
        height: 80px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        img {
            height: 80px;
            margin-right: 10px;
            filter: saturate(0);
        }
        p {
            font-size: 3em;
            color: white;
        }
    }
    #sources {
        margin: 40px 0;
        h2 {
            margin-bottom: 30px;
            font-size: 3em;
        }
        ul {
            width: 90%;
        }
        li {
            width: 90%;
            color: white;
            list-style: none;
            font-size: 1em;
            padding-bottom: 20px;
            text-indent: -2em;
            padding-left: 2em;
            line-height: 1.25;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .bottom {
        width: 100%;
        color: $dark;
        padding: 14px;
        text-align: center;
    }
}