$light: black;
$dark: #dddddd;

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: $dark; border-left: 1px solid $light; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.5); border: 1px solid $light; border-right: none; }
::-webkit-scrollbar-thumb:hover { cursor: pointer; }
::selection {
    background: $light;
    color: $dark;
}