$light: #000;
$mid: #000;
$dark: #eee;

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: $light; border-left: 1px solid $dark; }
::-webkit-scrollbar-thumb { background: $dark; border-top: 1px solid $dark; border-bottom: 1px solid $dark; }
::-webkit-scrollbar-thumb:hover { background: white; }